@import "./styleGlobal.scss";

.containerCards{
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
    height: auto;
    padding: 3.5rem 3.12rem 2.69rem 5.12rem;
    border-radius: 1.5625rem;
    background: $backgrd-color-contain;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px;
    .cards{
        position: relative;
        display: flex;
        align-items: end;
        width: 19rem;
        @include cards-size-style;
        &__img{
            z-index: 1;
            position: relative;
            object-fit: cover;
            width: 100%;
            @include cards-size-style;
        }
        &__title{
            z-index: 3;
            position: absolute;
            width: auto;
            color: $color-second-theme;
            font-size: $size-title-cards;
            padding: 0 1rem;
        }
        &__overlay{
            z-index: 2;
            position: absolute;
            border-radius: 0.625rem;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.20) 99.99%, rgba(0, 0, 0, 0.50) 100%);
            @include cards-size-style;
            width: 100%;
        }
    }
    
    .cards:hover {
        box-shadow: grey 2px 2px 10px ;
    }
    
    .containerCards__containerBtn{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .containerCards__btn{
       all: unset;
       grid-column: 1 / -1;
       display: flex;
       align-items: center;
       justify-content: space-around;
       background: $color-theme;
       color: $color-second-theme;
       text-align: center;
       font-size: $size-text;
       font-weight: 500;
       border-radius: 1rem;
       width: 12rem;
       height: 3rem;
       margin: 0 5rem;
       cursor: pointer;
    }
    .containerCards__btn:active{
        background-color: $color-second-theme;
        border: 2px solid $color-theme;
        color: $color-theme;
    }
}


@media (max-width:1025px) {
    .containerCards{
        padding-left: 3.12rem;
        justify-content: center;
        .cards{
            width: 40rem;
        }
    }
    
}
@media (max-width: 769px) {
    .containerCards{
        padding-left: 3.12rem;
        justify-content: center;
        .cards{
            width: 35rem;
        }
    }
    
}


@media (max-width: 426px){
    .containerCards{
        gap: 1.25rem;
        padding: 0;
        background: #FFF;
        box-shadow: none;
        .cards{
            width: 21rem;
        }
    }
}