@import "./styleGlobal.scss";

.carrousel {
    @include carrousel-size();
    border-radius: 1.5rem;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    &__btn {
        z-index: 3;
        position: absolute;
        width: 2.9175rem;
        height: 4.95rem;
        margin: 0 1.46rem;
        cursor: pointer;
    }
    &__btn:active {
        box-shadow: grey 2px 2px 2px 2px;
    }
    .btnright {
        right: 0.3rem;
    }
    &__img {
        @include carrousel-size();
        object-fit: cover;
        transition: transform 0.8s ease;
        
    }
    &__counter{
        position: absolute;
        left: 50%;
        top: 90%;
        color: $color-second-theme;
        font-size: 1.125rem;
        font-weight: 500;
    }
}

@media (max-width:426px) {
    .carrousel{
        width: 100%;
        height: $height-carrousel-mobile;
        &__img{
            height: $height-carrousel-mobile;
        }
        &__btn{
            width: 1.5rem;
            height: 2.5rem; 
        }
        &__counter{
            display: none;
        }
    }
}