$color-link : #000000;
$size-link : 1.5rem;
header{
    display: flex;
    justify-content: space-between;
    margin: 2.81rem 6.25rem 3.12rem 6.25rem;
    .navbar{
        display: flex;
        align-items: center;
        gap: 3.56rem;
        .navbar__link{
            text-decoration: none;
            color: $color-link;
            font-size: $size-link;
            font-weight: 500;
            &[data-active="true"]{
                text-decoration: underline;
            }
        }
    }
}
