$color-text : #FF6060;
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8.69rem;
    color: $color-text;
    .main__title{
        font-size: 18rem;
        font-weight: 700;
        margin: 0;
    }
    .main__text{
        font-size: 2.25rem;
        margin: 0;
        font-weight: 500;
    }
    .main__link{
        color: #000;
        font-size: 1.12rem;
        font-weight: 500;
    }
}