.page{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    &__header{
        gap: 2.7rem;
        margin: 0 6.25rem;
    }
    &__main{
        display: flex;
        flex-direction: column;
        gap: 2.7rem;
        margin: 0 6.25rem;
    }
}


@media (max-width: 426px) {
    .page{
        margin-top: 1.5rem;
        gap: 2rem;
        &__header{
            width : 100%;
            margin : 0;
        }
        &__main{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin : 0 1.25rem;
        }
        &__footer{
            margin-top: 1rem;
        }
    }
}
