.rate{
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    width: 12.25rem;
    height: 2.25rem;

    .color{
        color: #ff6060;
    }
    .grey{
        color: #e3e3e3;
    }
}


@media (max-width: 1025px) {
    .rate{
        width: auto;
    }
    
}

@media (max-width:426px) {
.rate{
    justify-content: flex-start;
    width: 6.5rem;
    height: 1rem;
    gap: 0.1rem;
}
    
}